.captchaContainer {
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

.captchaContainer :global(.g-recaptcha) > div {
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
}

.captchaContainer :global(#g-recaptcha-response) {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
