{
  "targets": {
    "node": "current"
  },
  "assumptions": {
    "setPublicClassFields": true
  },
  "presets": [
    [
      "@babel/env",
      {
        "debug": true
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "onlyRemoveTypeImports": true
      }
    ],
    [
      "minify",
      {
        "builtIns": false,
        "mangle": true,
        "keepClassName": true,
        "keepFnName": true
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-private-methods"
  ],
  "exclude": [
    "**/*.min.js",
    "**/__tests__"
  ],
  "include": [
    "./src"
  ],
  "comments": false
}
