{
  "isModule": true,
  "minify": true,
  "sourceMaps": true,
  "jsc": {
    "minify": {},
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "importMeta": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false,
    }
  }
}
