services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    command: ["redis-server", "--maxmemory", "1gb", "--maxmemory-policy", "allkeys-lru"]
    networks:
      default:
        aliases:
          - redis
    ports:
      - "127.0.0.1:6379:6379"

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    env_file:
      - postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      default:
        aliases:
          - postgres
    ports:
      - "127.0.0.1:5004:5432"

  zipFiles:
    build:
      context: ./go/zipFiles
      dockerfile: Dockerfile
    container_name: zipfiles
    restart: always
    image: waifuvault-zipfiles
    depends_on:
      - redis
      - postgres
    ports:
      - "127.0.0.1:5005:8080"
    volumes:
      - ./files:/app/files
    env_file:
      - ./.env
      - ./postgres.env

  thumbnails:
    build:
      context: ./go/thumbnails
      dockerfile: Dockerfile
    container_name: thumbnails
    restart: always
    image: waifuvault-thumbnails
    depends_on:
      - redis
      - postgres
    ports:
      - "127.0.0.1:5006:8080"
    volumes:
      - ./files:/app/files
    env_file:
      - ./.env
      - ./postgres.env

volumes:
  postgres_data:
