<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('snippets/head.ejs'); %>
    <title>Waifuvault|Album</title>
    <link rel="stylesheet" href="/assets/custom/css/album.css">
</head>
<body>
<div>
    <div id="overlay" class="hidden">
        <div id="loader" class="hidden"></div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 pb-4">
            <h1><span id="albumName"></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pb-2">
            <button id="cardView" class="btn btn-outline-primary ms-1"><i class="bi bi-table"></i></button>
            <button id="tableView" class="btn btn-outline-primary ms-1"><i class="bi bi-list"></i></button>
            <button id="downloadFiles" class="btn btn-outline-primary ms-1">Download Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" id="albumFiles">
                    <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-cloud-arrow-down-fill"></i></th>
                        <th scope="col">Filename</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row row-cols-4" id="albumCards"></div>
</div>
<%- include('snippets/scripts.ejs'); %>
<script>
const publicToken = "<%= publicToken %>";
</script>
<script src="/assets/custom/js/album.js"></script>
</body>
</html>
