<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('snippets/head.ejs'); %>
    <% if(!resource){ %>
        <meta http-equiv="refresh" content="0; URL=/"/>
    <% } %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5 border-primary">
                <div class="card-header text-center">
                    Password-protected file
                </div>
                <div class="card-body">
                    <form class="p-lg-3" method="post" target="_blank">
                        <div class="mb-3">
                            <div class="form-floating">
                                <input required name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-success" id="accessButton">Gain access</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>
