<!doctype html>
<html lang="en" data-bs-theme="dark">
<head prefix="og: https://ogp.me/ns#">
    <%- include('snippets/head.ejs'); %>
    <title>UK Online Safety Act - WaifuVault</title>
    <link href="assets/custom/css/index.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom d-flex justify-content-between">
            <a href="/" class="text-body-emphasis text-decoration-none">
                <span class="fs-4">WaifuVault</span>
            </a>
            <a class="btn btn-secondary" href="https://github.com/waifuvault/WaifuVault" target="_blank"><i
                        class="bi bi-github"></i> Source</a>
        </header>

        <div class="p-5 mb-5 bg-body-tertiary rounded-3 border border-primary-subtle position-relative" id="jumbo">
            <div class="py-5 ">
                <div class="py-5 ">
                    <h1 class="display-5 fw-bold">United Kingdom Users - Online Safety Act</h1>
                    <p class="col-md-8 fs-4">
                        In accordance with the United Kingdoms Online Safety Act 2023, we are blocking access to all content for UK and British Overseas Territories.
                        This law would require extensive monitoring and verification filters.
                        It would also require we collect information on users, that from the outset we designed the platform not to require ANY information or store ANY information.
                    </p>
                    <p class="col-md-8 fs-4">
                        If the law is updated in future we will revise this policy, but as it stands for now this is the only way we can handle it and stay true to our original design philosophy.
                    </p>
                </div>
                <img id="victorique" class="img-fluid" src="assets/custom/images/vic_vault.webp" alt="logo" />
            </div>
        </div>
        <div style="margin-top: -50px;" class="float-end text-body-secondary">
            Logo lovingly created by <a href="http://twitch.tv/meru" target="_blank">Meru</a>
        </div>
    </div>
</main>
</body>
