<!doctype html>
<html lang="en" data-bs-theme="dark">
<head prefix="og: https://ogp.me/ns#">
    <%- include('../snippets/head.ejs'); %>
    <link href="/assets/custom/css/index.css" rel="stylesheet">
    <title>Statistics</title>
</head>
<body>
<div class="container mt-4">
    <%- include('../snippets/navbar.ejs'); %>
    <h1>Stats Page Goes Here</h1>
</div>

<%- include('../snippets/scripts.ejs'); %>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
</script>
</body>
</html>
